.title-subtitle {
    text-align: center;
}

.para-one {
    animation-name: typing;
    animation-duration: 6s;
    animation-timing-function: linear;
    overflow: hidden;  
    white-space: nowrap;
    height: 10vh;    
}

.para-two {
    animation-name: typing;
    animation-duration: 6s;
    animation-timing-function: linear;
    overflow: hidden;  
    white-space: nowrap;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    height: 10vh;
}

.para-three {
    animation-name: typing;
    animation-duration: 6s;
    animation-timing-function: linear;
    overflow: hidden;  
    white-space: nowrap;
    animation-delay: 4s;
    animation-fill-mode: backwards;
    height: 10vh;
}

.para-four {
    animation-name: typing;
    animation-duration: 6s;
    animation-timing-function: linear;
    overflow: hidden;  
    white-space: nowrap;
    animation-delay: 6s;
    animation-fill-mode: backwards;
    height: 10vh;
}

@keyframes typing {
    from {width: 0%;}
    to {width: 100%;}
}

.break-home-top {
    height: 15vh;
}