body {
    background-attachment: fixed;
    background-image: url("../images/hero-image-two.jpg");
    background-size: cover;
}
.title-subtitle {
    font-family: 'Lato', sans-serif;
    color: #2c2b2b;    
}

.title  {
    font-size: x;
}

.subtitle {
    font-style: italic;
}

.paras {
    font-family: 'Lato', sans-serif;
    color: #fafafa;
}

.para-one {
    animation-name: typing;
    animation-duration: 6s;
    animation-timing-function: linear;
    height: 10vh;   
}

.para-two {
    animation-name: typing;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    height: 10vh;
}

.para-three {
    animation-name: typing;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-delay: 4s;
    animation-fill-mode: backwards;
    height: 10vh;
}

.para-four {
    animation-name: typing;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-delay: 6s;
    animation-fill-mode: backwards;
    height: 10vh;
}

@keyframes typing {
    from {color: white;}
    to {color: black;}
}

.break-home-top {
    height: 15vh;
}

nav a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.navbar-item {
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.25);
    color: #fafafa;
    padding-top: 1vh;
}


header {
    height: 22vh;
    padding-bottom: 3vh;
    padding-top: 1vh;
    border-bottom: black;
    border-width: 10px;
}

.background-paras-small-tl {
    display: inline-block;
    width: 25vw;
    background-color: salmon;
    
}

.background-paras-small-tr {
    display: inline-block;
    width: 25vw;
    background-color: rgb(60, 143, 92);
    
}

.background-paras-small-bl  { 
    display: inline-block;
    width: 25vw;
}
.background-paras-small-br {
    display: inline-block;
    width: 25vw;
    background-color: yellow;
    
}


.paras-container {
    position: relative;
}

.spana {
    width: 35vw;
    height: 35vh;
    background-color: yellow;
}

.spanb {
    position: relative;
    left: 35vw;
    bottom: 35vh;
    height: 35vh;
    width: 35vw;
    background-color: violet;
}

.spanc {
    position: relative;
    bottom: 35vh;
    width: 35vw;
    height: 35vh;
    background-color: red;
}

.spand {
    position: relative;
    left: 35vw;
    bottom: 70vh;
    width: 35vw;
    height: 35vh;
    background-color: royalblue;
}

.bg-colors-small {
    position: absolute;
    top: -30vh;
}

#test {
    position: relative;
    z-index: 1;
}

#position {
    position:fixed;
    top: 50%;
    left: 50%;
}

#test-two {
    position: absolute;
    left: 13vw;
    z-index: 2;
}

.yellow-square  {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color:rgba(238, 238, 0, 0.2);
    padding: 0;
}

.blue-square {
    position: absolute;
    height: 50vh;
    width: 50vw;
    background-image: linear-gradient(to bottom, rgba(30, 152, 209, 0.2), rgba(30, 152, 209, 0));
    right: 0;
    bottom: 0;
}

.pink-square {
    position: absolute;
    height: 50vh;
    width: 50vw;
    background-image: linear-gradient(to top, rgba(204, 27, 130, 0.2), rgba(204, 27, 130, 0));
    left: 0;
    top: 0;
}

.orange-square {
    position: absolute;
    height: 50vh;
    width: 50vw;
    background-image: linear-gradient(to bottom, rgba(228, 102, 19, 0.2), rgba(228, 102, 19, 0));
    left: 0;
    bottom: 0;
}

.footer-test {
    background-color: rgba(0, 0, 0, 0.75);
    height: 10vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    
}

.nabar {
    color: crimson;
    border-bottom: solid;
    border-color: rgb(202, 206, 214);
}